.Container{
    max-width: 1200px;
    text-align: center;
    width: 100%;
    margin: 8% auto 5% auto;
    padding: 0 3%;
    
}

.Container h1{
    font-size: 2.5rem;
    color: rgb(0, 0, 0);
}

.Container p{
    padding-top:3% ;
    color: #353535;
}
.Container span{
    color: #8257E5;
}



@media only screen and (max-width: 767px) {
    .Container{
        max-width: 1200px;
        text-align: center;
        width: 100%;
        margin: 10% auto ;
        padding: 0 3%;
        
    }
    .Container h1{
        font-size: 1.5rem;
        color: rgb(0, 0, 0);
    }
    .Container p{
        padding-top: 30px;
    }

    .mob{
        padding-top: 30%;
    }
  }
  